[submodule ".config/kitty/kitty-kitten-search"]
	path = .config/kitty/kitty-kitten-search
	url = https://github.com/trygveaa/kitty-kitten-search
[submodule ".config/fzf/fzf-git.sh"]
	path = .config/fzf/fzf-git.sh
	url = git@github.com:junegunn/fzf-git.sh.git
