[submodule ".config/fzf/fzf-git.sh"]
	path = fzf/.config/fzf/fzf-git.sh
	url = git@github.com:junegunn/fzf-git.sh.git
[submodule ".local/git-number"]
	path = .local/git-number
	url = git@github.com:holygeek/git-number.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
